body {
  background: #000;
  color: #fff;
  padding: 25px;
  font-family: sans-serif;
}

a {
  color: #00ffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

a:visited {
  color: #ff9bff;
}

.button {
  padding: 10px 20px;
  background: #111;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0 10px white;
}

.centered {
  text-align: center;
}

spacer15 {
  height: 30px
}

spacer30 {
  height: 30px
}

spacer50 {
  height: 59px
}

divider {
  width: 100%;
  height: 2px;
  background-color: #8a8a8a;
  margin: 15px 0;
}
