body {
  background: #100;
  color: #fff;
  padding: 25px;
  font-family: sans-serif;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 9px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
