body {
  background: #100;
  color: #fff;
  padding: 25px;
  font-family: sans-serif;
}

.button {
  padding: 10px 20px;
  background: #111;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: box-shadow 0.2s ease, transform 0.1s ease;
}

.button:hover {
  box-shadow: 0 0 12px #00ffff;
  transform: translateY(-2px);
}

a {
    color: #00FFFF;
    text-decoration: none;
}

a:visited {
    color: #037bfc;
}

a:hover {
    color: #037bfc;
}
